.navbar {
    background-color: rgb(29, 29, 29);
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
    align-items: baseline;
}

.logo {
    color: rgb(230, 235, 235);
    text-decoration: none;
    font-size: 1.4em;
    font-weight: bold;
}

.logo:active {
    color: gray;
}

.actions {
    color: rgb(230, 235, 235);
    font-size: 1.2em;
}

.navbar .button {
    font-size: 1em;
    cursor: pointer;
    border: 0;
    color: white;
    text-decoration: none;
}

.button:active {
    color: gray;
}

.footer{
  background: #888;
  padding: 16px;
  text-align: center;
}