@keyframes fadeIn {
 from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
 from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.flash_card {
    padding: 1rem;
    right: 1rem;
    color: "white";
    border-radius: 0.5rem;
    animation: fadeIn 0.2s;
}

.fade_out {
    animation: fadeOut 0.5s;
}

